In [1]:
#importing the necessary library
import pandas as pd

In [2]:
#importing the dataset 
df=pd.read_csv("C:/Users/NifemiDev/Downloads/tmdb_5000_movies.csv")

In [3]:
#overview of the dataset 
df.head(n=2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
#calculating the mean score of the vote_average
mean_score=df['vote_average'].mean()

In [5]:
mean_score

6.092171559442011

In [6]:
#calculating the minimum number of votes, since it wasn't stated in the dataset using
minimum_votes=df['vote_count'].quantile(0.95)

In [7]:
minimum_votes

3040.8999999999996

In [8]:
#using the minimum votes to filter out the movies
new_df=df.copy().loc[df['vote_count'] >=minimum_votes]

In [9]:
#the filter movies 
new_df.shape

(241, 20)

In [10]:
#initial dataset 
df.shape

(4803, 20)

In [11]:
#function for calculating the weighted rating
def weighted_rating(x,c=mean_score,m=minimum_votes):
    v=x['vote_count']
    R=x['vote_average']
    #using the IMBB Formula 
    return (v/(v+m) * R) + (m/(m+v) *c)

In [12]:
#calculating a new column with the def weighted_rating 
new_df['tag_number']=new_df.apply(weighted_rating, axis=1)

In [13]:
#outline the movies based on tag_number of top 15 movies along with the vote count,vote average , and weighted rating 
new_df=new_df.sort_values('tag_number', ascending=False)

In [14]:
new_df[['title', 'vote_count','vote_average','tag_number']].head(n=15)

,title,vote_count,vote_average,tag_number
1881,The Shawshank Redemption,8205,8.5,7.848921
65,The Dark Knight,12002,8.2,7.773906
662,Fight Club,9413,8.3,7.760909
96,Inception,13752,8.1,7.736417
3232,Pulp Fiction,8428,8.3,7.714609
95,Interstellar,10867,8.1,7.660997
809,Forrest Gump,7927,8.2,7.615595
3337,The Godfather,5893,8.4,7.614467
329,The Lord of the Rings: The Return of the King,8064,8.1,7.550188
262,The Lord of the Rings: The Fellowship of the Ring,8705,8.0,7.506082
1990,The Empire Strikes Back,5879,8.2,7.481416
94,Guardians of the Galaxy,9742,7.9,7.469939
2912,Star Wars,6624,8.1,7.468270
330,The Lord of the Rings: The Two Towers,7487,8.0,7.448939
634,The Matrix,8907,7.9,7.439884